body{
    background: cornflowerblue;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

h1{
    color: lavender;
}
li{
    font-size: 1.2em;
    list-style-type: none;
    color: lavender;
}
.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    text-decoration: underline;
}
h2,a {
    color: lavender;
}